body {
  font-family: Arial, sans-serif;
  background: #fff6dc;
  margin: 0;
  text-align: center;
}

/* Banner */
.banner {
  width: 100%;
  height: 220px;          
  display: block;
}

.content{
  max-width:1000px;
  margin:auto;
  padding:20px;
}

.center{
  margin-top:20px;
}

.units{
  border:3px solid orange;
  margin:30px auto;
  padding:20px;
  width:100%;
  text-align:left;
  background:#fff;
}

.units h3{
  color:#333;
}

.units h4{
  margin-top:15px;
}

.units ul{
  margin-bottom:15px;
}

.units a{
  text-decoration:none;
  color:#4b4bf0;
}

.subunit-img{
  max-width:100%;
  height:auto;
  display:block;
  margin:15px auto;
  border-radius:10px;
  box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

footer{
  padding:20px;
  font-size:14px;
}
