body {
 background:#fff6dc;
 font-family: Arial;
 padding:40px;
}

nav {
 text-align:center;
 margin-bottom:20px;
}

nav a {
 margin:15px;
 text-decoration:none;
 font-weight:bold;
 color:#6b563d;
}

.banner {
  width: 100%;
  height: 260px;          /* controls visible strip */
  object-fit: cover;
  object-position: center;
  display: block;
}

.center {
 text-align:center;
}

footer {
 margin-top:60px;
 border-top:1px solid #aaa;
 padding-top:15px;
 text-align:center;
 font-size:14px;
}
