body {
font-family: Arial;
background:#fff6dc;
text-align:center;
body {
font-family: Arial;
background:#fff6dc;
text-align:center;
margin:0;
}

.banner{
width:100%;
height:200px;
object-fit:cover;
}

.center{
margin-top:20px;
}

.units{
border:3px solid orange;
margin:30px auto;
padding:20px;
width:80%;
text-align:left;
background:#fff;
}

.units h3{
color:#333;
}

.units ul{
margin-bottom:20px;
}

.units a{
text-decoration:none;
color:#4b4bf0;
}

footer{
padding:20px;
font-size:14px;
}
}

.banner{
width:100%;
height:180px;
object-fit:cover;
}

.center{
margin-top:20px;
}

.units{
border:3px solid orange;
margin:30px auto;
padding:20px;
width:80%;
text-align:left;
background:#fff;
}

.units h3{
color:#333;
}

.units ul{
margin-bottom:20px;
}

.units a{
text-decoration:none;
color:#4b4bf0;
}

footer{
padding:20px;
font-size:14px;
}

