body {
 background:#fff6dc;
 font-family: Arial;
 padding:40px;
}

nav {
 text-align:center;
 margin-bottom:20px;
}

nav a {
 margin:15px;
 text-decoration:none;
 font-weight:bold;
 color:#6b563d;
}

.banner {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 12px;
}

.center {
 text-align:center;
}

footer {
 margin-top:60px;
 border-top:1px solid #aaa;
 padding-top:15px;
 text-align:center;
 font-size:14px;
}
